* {
    margin: 0%;
    padding: 0%;
}

#logo {
    height: 100%;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    height: 100px;
    width: 200px;
}

#usuario {
    display: flex;
    align-items: center;
    gap: 10px;
}

#menu {
    display: flex;
    align-items: center;
}

.usuarioImg {
    margin-right: 40px;
    height: 80px;
    width: 150px;
    float: right;
}

.username {
    color: rgb(255, 255, 255);
}

main {
    background-color: black;
}

footer {
    background-color: black;
}
#narcos1{
    color: white;
    margin-left: 20px;
    width: 100%;
    height: 500px;
    background-image: url(../images/b9d9a6cb0cf523f131b6b153a675ab5956dd63f7.png);
    background-size: cover;
}
#narcos h1{
    font-size: 70px;
}
#narcos h3{
    margin-left: 10px;
    font-size:medium;
}
#narcosp{
    width: 30%;
}