* {
    margin: 0%;
    padding: 0%;
}

#logo {
    height: 100%;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}
nav {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    height: 100px;
    width: 200px;
}

#usuario{
    display: flex;
    align-items: center;
    gap: 10px;
}

#menu{
    display:flex;
    align-items: center;
}

.usuarioImg {
    margin-right:40px;
    height: 80px;
    width: 150px;
    float: right;
}

.username{
    color: rgb(255, 255, 255);
}
main{
    background-color: black;
}
footer{
    background-color: black;
}