* {
    margin: 0%;
    padding: 0%;
}

#logo {
    height: 100%;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    height: 100px;
    width: 200px;
}

#usuario {
    display: flex;
    align-items: center;
    gap: 10px;
}

#menu {
    display: flex;
    align-items: center;
}

.usuarioImg {
    margin-right: 40px;
    height: 80px;
    width: 150px;
    float: right;
}

.username {
    color: rgb(255, 255, 255);
}

main {
    background-color: black;
}

footer {
    background-color: black;
}
#narcos1{
    color: white;
    margin-left: 20px;
    width: 100%;
    height: 500px;
    background-image: url(../images/b9d9a6cb0cf523f131b6b153a675ab5956dd63f7.png);
    background-size: cover;
}
#narcos h1{
    font-size: 70px;
}
#narcos h3{
    margin-left: 10px;
    font-size:medium;
}
#narcosp{
    width: 30%;
}

#menuB{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#menuMobile{
    display: none;
}
@media screen and (max-width: 800px) {
    header{
        display: flex;
        justify-content: center;
        height: auto;
        gap: 40px;
    }

    #menu{
        width: 100%;
         display: flex;
        justify-content: space-around;
    }

    #menuPc{
        display: none;
    }

    #menuMobile{
        display: none;
        background-color: black;
        flex-direction: column;
        align-items: center;
        gap: 20px;
}
 #menuMobile a{
        padding: 20px;
        width: 200px;
        text-align: center;
        border-bottom: 1px solid white;
}
}
